@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot#iefix') format('embedded-opentype'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.svg#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {

    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi1:before {
    content: "\e501";
}

.icon-weixin:before {
    content: "\e60c";
}

.icon-zhifubao1:before {
    content: "\e60d";
}

.icon-duigouxuanzhong:before {
    content: "\e618";
}

.icon-xuanzhong4:before {
    content: "\e619";
}

.icon-option_off:before {
    content: "\e62f";
}

.icon-weixin1:before {
    content: "\e63a";
}

.icon-guanbi11:before {
    content: "\e654";
}

.icon-mima:before {
    content: "\e699";
}

.icon-shengchenghaibao:before {
    content: "\e6b8";
}

.icon-suggest:before {
    content: "\e710";
}

.icon-tubiaolunkuo-:before {
    content: "\e617";
}

.icon-guanbi:before {
    content: "\e600";
}


.tab-nav-item {
    height: 45px;
    line-height: 45px;
    position: relative;
    text-align: center;
    color: #fff1dc;
    font-size: 13px;
    display: block;
    float: left;
    padding: 0 15px;
    width: 50%;
    /* cursor: pointer; */
}

.tab-nav-item.tab-active {
    /* background-color: #51bd03; */
}

.tab-nav-item.tab-active a {
    color: #666666;
    font-weight: bold;
}

.tab-nav-item a {
    display: inherit;
    color: inherit;
    color: #666666;
}

.tab-panel {
    position: relative;
    overflow: hidden;
}

.tab-panel .tab-panel-item {
    width: 100%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.tab-nav-item.tab-active:before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -50%;
    z-index: 4;
    background-color: #fff1dc;
}

.tab-panel .tab-panel-item.tab-active ~ .tab-panel-item {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.tab-panel .tab-panel-item.tab-active {
    position: relative;
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.aui-introduce .tab-nav .tab-active {
    background: #666666;
    color: #fff;
    height: 35px;
    line-height: 35px;
}

.aui-introduce .tab-nav {
    border-radius: inherit;
    margin: 0.5rem;
    border: 1px solid #666666;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
}

.aui-introduce .tab-nav-item.tab-active:before {
    background-color: #404040;
    bottom: 1px;
    height: 0;
}

.aui-introduce .tab-nav-item.tab-active a {
    color: #fff;
}

.aui-introduce .tab-nav:after {
    border-bottom: none;
}

.aui-introduce .tab-nav-item {
    line-height: 35px;
    height: 35px;
}

.tab-panel .tab-panel-item {
    width: 100%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.tab-nav-item.tab-active:before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -50%;
    z-index: 4;
    background-color: #000000;
}

.tab-panel .tab-panel-item.tab-active ~ .tab-panel-item {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.tab-panel .tab-panel-item.tab-active {
    position: relative;
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}